volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    container_name: postgres
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always

  backend:
    image: kiberking/kittygram_backend
    container_name: backend
    env_file: .env
    volumes:
      - static:/app/collected_static
      - media:/app/media
    depends_on:
      - db
    restart: always

  frontend:
    image: kiberking/kittygram_frontend
    container_name: frontend
    volumes:
      - static:/app/result_build
    command: cp -r /app/build/. /app/result_build/
    depends_on:
      - backend

  gateway:
    image: kiberking/kittygram_gateway
    container_name: gateway
    ports:
      - "9000:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always
